
<div class="am-panel am-panel-default" style="border:0;">
<div class="am-g">
      <div class="am-u-sm-12 am-u-sm-centered">
        <h2>关于我们</h2>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      太原康福得科技有限公司，由多名英美海归合伙创立，旨在立足太原、放眼国际，引进英美先进的人文观念和科学技术，结合中国的传统智慧，让广大的网络用户健康、幸福，都得到！
        </p>
        <hr/>
      </div>
     
</div>
</div>