<% provide(:title, '首页') %>
<div class="am-panel am-panel-default">
    <div class="am-panel-bd">
      <div class="am-g">
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down">
            <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
          <span class="am-hide-md-down">
            <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
        </div>
        <div class="am-u-sm-8 am-u-lg-8">
          <span class="am-show-md-down">
            <div style="font-size: 1.5rem;"><strong>体验教育之逛逛博物馆</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              带孩子逛博物馆可以开阔孩子的视野、激发学习兴趣
              </div>
          </span>
          <span class="am-hide-md-down">
            <div style="font-size: 1.6rem;"><strong>体验教育之逛逛博物馆</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              带孩子逛博物馆可以开阔孩子的视野、激发学习兴趣
              </div>
          </span>
        </div>
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down"><font size="2">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
          <span class="am-hide-md-down"><font size="4">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
        </div>
      </div>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
     <div class="am-panel-bd">
      <div class="am-g">
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down">
            <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
          <span class="am-hide-md-down">
            <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
        </div>
        <div class="am-u-sm-8 am-u-lg-8">
          <span class="am-show-md-down">
            <div style="font-size: 1.5rem;"><strong>别紧张，哮喘并不可怕</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
             秋天来了，又到了哮喘发作的高发季节，我们应该为孩子做好相应的防范措施
              </div>
          </span>
          <span class="am-hide-md-down">
            <div style="font-size: 1.6rem;"><strong>别紧张，哮喘并不可怕</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
             秋天来了，又到了哮喘发作的高发季节，我们应该为孩子做好相应的防范措施
              </div>
          </span>
        </div>
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down"><font size="2">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
          <span class="am-hide-md-down"><font size="4">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
        </div>
      </div>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
     <div class="am-panel-bd">
      <div class="am-g">
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down">
            <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
          <span class="am-hide-md-down">
            <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
        </div>
        <div class="am-u-sm-8 am-u-lg-8">
          <span class="am-show-md-down">
            <div style="font-size: 1.5rem;"><strong>外国育儿，值得借鉴</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              外国的很多育儿经验，值得我们好好学习
              </div>
          </span>
          <span class="am-hide-md-down">
            <div style="font-size: 1.6rem;"><strong>外国育儿，值得借鉴</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              外国的很多育儿经验，值得我们好好学习
              </div>
          </span>
        </div>
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down"><font size="2">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
          <span class="am-hide-md-down"><font size="4">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
        </div>
      </div>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
     <div class="am-panel-bd">
      <div class="am-g">
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down">
            <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
          <span class="am-hide-md-down">
            <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
        </div>
        <div class="am-u-sm-8 am-u-lg-8">
          <span class="am-show-md-down">
            <div style="font-size: 1.5rem;"><strong>种种植物，亲近自然</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              现在的孩子缺乏对自然的了解，应该带孩子多走进大自然
              </div>
          </span>
          <span class="am-hide-md-down">
            <div style="font-size: 1.6rem;"><strong>种种植物，亲近自然</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              现在的孩子缺乏对自然的了解，应该带孩子多走进大自然
              </div>
          </span>
        </div>
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down"><font size="2">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
          <span class="am-hide-md-down"><font size="4">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
        </div>
      </div>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
     <div class="am-panel-bd">
      <div class="am-g">
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down">
            <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
          <span class="am-hide-md-down">
            <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
        </div>
        <div class="am-u-sm-8 am-u-lg-8">
          <span class="am-show-md-down">
            <div style="font-size: 1.5rem;"><strong>教师节，怎样才有“礼”</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              教师节，如何表达对老师的感谢，这也是一门学问
              </div>
          </span>
          <span class="am-hide-md-down">
            <div style="font-size: 1.6rem;"><strong>教师节，怎样才有“礼”</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              教师节，如何表达对老师的感谢，这也是一门学问
              </div>
          </span>
        </div>
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down"><font size="2">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
          <span class="am-hide-md-down"><font size="4">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
        </div>
      </div>
    </div>
</div>