<% provide(:title, '首页') %>
<div class="am-panel am-panel-default">
    <div class="am-panel-bd">
      <div class="am-g">
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down">
            <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
          <span class="am-hide-md-down">
            <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
        </div>
        <div class="am-u-sm-8 am-u-lg-8">
          <span class="am-show-md-down">
            <div style="font-size: 1.5rem;"><strong>【每日】先拔头草</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              爱上一匹野马，头顶一片草原
              </div>
          </span>
          <span class="am-hide-md-down">
            <div style="font-size: 1.6rem;"><strong>【每日】先拔头草</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              爱上一匹野马，头顶一片草原
              </div>
          </span>
        </div>
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down"><font size="2">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
          <span class="am-hide-md-down"><font size="4">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
        </div>
      </div>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
     <div class="am-panel-bd">
      <div class="am-g">
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down">
            <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
          <span class="am-hide-md-down">
            <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
        </div>
        <div class="am-u-sm-8 am-u-lg-8">
          <span class="am-show-md-down">
            <div style="font-size: 1.5rem;"><strong>【每日】先拔头草</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              爱上一匹野马，头顶一片草原
              </div>
          </span>
          <span class="am-hide-md-down">
            <div style="font-size: 1.6rem;"><strong>【每日】先拔头草</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              爱上一匹野马，头顶一片草原
              </div>
          </span>
        </div>
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down"><font size="2">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
          <span class="am-hide-md-down"><font size="4">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
        </div>
      </div>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
     <div class="am-panel-bd">
      <div class="am-g">
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down">
            <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
          <span class="am-hide-md-down">
            <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
        </div>
        <div class="am-u-sm-8 am-u-lg-8">
          <span class="am-show-md-down">
            <div style="font-size: 1.5rem;"><strong>【每日】先拔头草</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              爱上一匹野马，头顶一片草原
              </div>
          </span>
          <span class="am-hide-md-down">
            <div style="font-size: 1.6rem;"><strong>【每日】先拔头草</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              爱上一匹野马，头顶一片草原
              </div>
          </span>
        </div>
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down"><font size="2">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
          <span class="am-hide-md-down"><font size="4">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
        </div>
      </div>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
     <div class="am-panel-bd">
      <div class="am-g">
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down">
            <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
          <span class="am-hide-md-down">
            <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
        </div>
        <div class="am-u-sm-8 am-u-lg-8">
          <span class="am-show-md-down">
            <div style="font-size: 1.5rem;"><strong>【每日】先拔头草</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              爱上一匹野马，头顶一片草原
              </div>
          </span>
          <span class="am-hide-md-down">
            <div style="font-size: 1.6rem;"><strong>【每日】先拔头草</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              爱上一匹野马，头顶一片草原
              </div>
          </span>
        </div>
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down"><font size="2">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
          <span class="am-hide-md-down"><font size="4">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
        </div>
      </div>
    </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
     <div class="am-panel-bd">
      <div class="am-g">
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down">
            <img width="40" height="40" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
          <span class="am-hide-md-down">
            <img width="80" height="80" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"/>
          </span>
        </div>
        <div class="am-u-sm-8 am-u-lg-8">
          <span class="am-show-md-down">
            <div style="font-size: 1.5rem;"><strong>【每日】先拔头草</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              爱上一匹野马，头顶一片草原
              </div>
          </span>
          <span class="am-hide-md-down">
            <div style="font-size: 1.6rem;"><strong>【每日】先拔头草</strong></div>
            <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
              爱上一匹野马，头顶一片草原
              </div>
          </span>
        </div>
        <div class="am-u-sm-2 am-u-lg-2">
          <span class="am-show-md-down"><font size="2">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
          <span class="am-hide-md-down"><font size="4">756</font>&nbsp;&nbsp;<span class="am-icon-file-text-o"></span></span>
        </div>
      </div>
    </div>
</div>