<div class="am-panel am-panel-default">

  <div class="am-panel-bd">
    <div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>登录</h3>
    

    <br>
    
       <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />

    
     <%= form_for(:session, url: login_path, html: { class: 'am-form' }) do |f| %>
     
      <div class="am-input-group am-input-group-primary">
        <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
        <input type="text" name="session[mobile]" id="email" value="" placeholder="输入手机号" class="am-form-field" required>
      </div>
      
      <br>
      
      <div class="am-input-group am-input-group-primary">
        <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
        <input type="password" name="session[password]" id="password" value="" placeholder="输入密码" class="am-form-field" required>
      </div>
      <br>
       <!--<button name=""  class="am-btn am-btn-default am-btn-sm am-fr">忘记密码 ^_^? </button>-->
        <%= link_to "忘记密码^_^? ", new_password_reset_path ,:class => "am-btn am-btn-default am-btn-sm am-fr" %>
      <br>
      <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
      
    
    <% end %>
    
    
  </div>
</div>
  </div>
  
</div>