<% provide(:title, "找回密码") %>
<div class="panel">
   <%= form_for(:password_reset, url: password_resets_path) do |f| %>
 
  
  
  <div class="row">
    <div class="samll-12 columns">
      <div class="row collapse prefix-radius">
        <div class="field">
          <div class="small-3 columns">
            <span class="prefix">输入手机号</span>
          </div>
          <div class="small-9 columns">
              <%= f.text_field :mobile, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    
  <div class="row">
    <div class="samll-12 columns">
    <center>
       <input type="submit" name="newgroup" class="button radius" style="width:80%;" value="提交" onclick="return validate();" />
    </center>
   
    </div>
  </div>
  <% end %>
</div>
<script>
 
  
   function validate() {
     //  alert($('#order_amount').val()%100);
      var mobile = $('#password_reset_mobile').val();
        if(mobile == ''){
          alert("手机号不能为空");
          return false;
        }else{
          return true;
        }
       
     
  }
</script>