<div class="am-tab-panel am-panel-default">
  <%= render :partial => 'activities/user_activities', 
  :locals => { :pre_url => "/activities_of_user_applied?id=#{@user.id}"  ,:tips => '还没报名过活动！'}  %>
</div>