<%# cache @microposts do%>

<style>
  .applyd{
    color:#DD514C;
  }
</style>
<% @followings.each do |flowing|  %>
    <% flowed_user = User.find(flowing.followed_id)%>
    <% cache flowed_user do%>
<div class="am-panel-bd" >
  
   <!-- 用户信息展示 -->
      <div class="am-g">
        <%= render :partial => "users/user_profile_display", :locals => { :user => flowed_user,:time => flowing.created_at } %>
      </div>
     
    </div>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
    <% end%>
<% end%>

<%#end%>
<!-- 分页 -->


<%= render :partial => "shared/pagination",
:locals => { :total_page => @total_page,
             :page_num => @page_num,
             :pre_url => "/followings?id=#{@user.id}",
             :tips => '还没有人关注别人！' } %>