<% provide(:title, '个人账户') %>
<div class="zhzxtop ">
			
			<div class="zhzximg fl">
                <img src="http://threejed.b0.upaiyun.com/attachment/img_people.png" width="103" class="userImage" />
                            </div>
			<div class="fl zlhui zhzxtopct">
				<p class="zhzxsize">
                    <span class="zl33">
                                                    <%= current_user.mobile%>                    </span>，您好！</p>
				<p class="zhzxsize15">上次登录：<span>2015-08-05 10:52:46</span></p>
			</div>
		
			<a href="javascript:" class="fl zhzximg2 zhzxpo" rel="showInvite">
				<img src="http://threejed.b0.upaiyun.com/attachment/14791c38009a8f137c8f474c1df9a74f.png" width="55"/>
			</a>
			<div class="clear"></div>
		</div>
		<!--<div class="zhzxcenter ">
			<a href="/index.php/home/account/total_assets.html" class="zhzxgreen zl33" style="color:#333">&nbsp;&nbsp;总资产（元）：<span class="zlcolorf48 zlfnt12 fr">0.00</span></a>
			<a href="/index.php/home/account/total_profit.html" class="zhzxorange zl33" style="color:#333">&nbsp;&nbsp;总收益（元）：<span class="zlcolorf48 zlfnt12 fr">0.00</span></a>
		</div>-->
		<div class="zichan_hu">
		<ul>
				<a href="/myFunds">
					<li>
						 <p><%= @total_asset %> </p>
						 <p>总资产(元)</p>
					</li>
				</a>
			</ul>
			<ul>
				<a href="/myFunds">
					<li>
						 <p><%= @total_income_payed %></p>
					 	<p>总收益(元)</p>
					</li>
				</a>
			</ul>
			<ul class="last">
				<a href="/myFunds">
					<li>
					 	<p><%= @total_asset_available %></p>
					 	<p>可用资金(元)</p>
					</li>
				</a>
			</ul>
		</div>
		<div class="zhzxcenter mt10p">
			<a href="#" >
					<span class="zhzxicon">
						<img src="http://threejed.b0.upaiyun.com/attachment/icn_yq.png" width="20"/>
					</span>
					<span class="zl33">我的邀请：</span>
					<span class="zhzxcl">0</span>人
					<span class="zlhui zlfnt12 fr">查看邀请详情</span>
			</a>
		</div>	
		<div class="zhzxcenter mt10p mb60">
			
			<a href="#">
				<span class="zhzxicon">
					<img src="http://threejed.b0.upaiyun.com/attachment/icn_rmb.png" width="20"/>
				</span>
				<span class="zl33">充值提现</span>
				<span class="zlhui zlfnt12 fr">充值、提现</span>
			</a>
			<a href="#">
				<span class="zhzxicon">
					<img src="http://threejed.b0.upaiyun.com/attachment/icn_graph.png" width="20"/>
				</span>
				<span class="zl33">投资管理</span>
				<span class="zlhui zlfnt12 fr">投资记录</span>
			</a>
			<a href="#">
				<span class="zhzxicon">
					<img src="http://threejed.b0.upaiyun.com/attachment/icn_hongbao.png" width="20"/>
				</span>
				<span class="zl33 zhzxpo">
					红包管理
					<span class="myhqa">
						<img src="http://threejed.b0.upaiyun.com/attachment/icn_yuan.png" width="14"/ >
					</span>				</span>
				<span class="zlhui zlfnt12 fr">查看红包</span>
			</a>
			<a href="#">
				<span class="zhzxicon">
					<img src="http://threejed.b0.upaiyun.com/attachment/ka_icon.png" width="20"/>
				</span>
				<span class="zl33 zhzxpo">
					卡券管理
				</span>
				<span class="zlhui zlfnt12 fr">查看卡券</span>
			</a>
			<a href="#">
				<span class="zhzxicon">
					<img src="http://threejed.b0.upaiyun.com/attachment/icn_hdgl.png" width="20"/>
				</span>
				<span class="zl33 ">活动管理</span>
				<span class="zlhui zlfnt12 fr">我的活动</span>
			</a>
			<a href="#">
				<span class="zhzxicon">
					<img src="http://threejed.b0.upaiyun.com/attachment/icn_user.png" width="20"/>
				</span>
				<span  class="zl33 zhzxpo">
					账户管理
					<!-- <span class="myhqa">
						<img src="http://threejed.b0.upaiyun.com/attachment/icn_yuan.png" width="14"/ >
					</span> -->
				</span>
				<span class="zlhui zlfnt12 fr">修改密码</span>
			</a>
            <a href="#">
				<span class="zhzxicon">
					<img src="http://threejed.b0.upaiyun.com/attachment/zhma_icn1.png" width="20"/>
				</span>
				<span  class="zl33 zhzxpo">
					系统消息
					<span class="myhqa">
						<img src="http://threejed.b0.upaiyun.com/attachment/icn_yuan.png" width="14"/ >
					</span>				</span>
				<span class="zlhui zlfnt12 fr">查看详情</span>
			</a>
		</div>
		<div style="width:100%; height:72px"></div>
		