<%= stylesheet_link_tag  "form.min" %>



<%= form_for(:comment, html: {id: 'send_message' },url: leave_message_url) do |f| %>
<input type="hidden" id="user_id" name="user_id" value="<%= @to_user.id%>" />

<div class="am-panel am-panel-default">
    <div class="am-panel-bd" >
      <div class="am-g">
        <div class="am-u-sm-12 am-u-lg-12"> 
        
      <h3>我要留言</h3>
    

       <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
            <div class="am-form-group">
              <div class="ui form">
                <div class="field">
                    <textarea rows="8" class="am-form-field input_font" name="content" id="micropost_content" style="font-size:1.5rem;" >
                  <% if @is_reply=='1' %>
                    <%=p "回复 #{@to_reply_user.name} :\r\n "%>
                  <% end%>
                </textarea>
                </div>
              </div>
            </div>
          
          
        </div>
      </div>
      
      
   
      <div class="am-g">
        <!--<div class="am-u-sm-12 am-u-lg-12">-->
        <!--  <button type="button" class="am-btn am-btn-primary am-btn-block" onclick="return validate();" >上传图片</button>-->
        <!--</div>-->
        <div class="am-u-sm-6 am-u-lg-6">

          <button type="button" class="am-btn am-btn-primary am-btn-block am-btn-sm am-radius" onclick="return validate();" > 提交</button></button>
         
        </div>
       
        
        <div class="am-u-sm-6 am-u-lg-6">
          <button type="button" class="am-btn am-btn-primary am-btn-block am-btn-sm am-radius" onclick="goto('/')" >取消</button>
        </div>
      </div>
    </div>
</div>
<% end %>


<script>
  
   function validate() {
     //  show_alert($('#order_amount').val()%100);
      var micropost_content = $('#micropost_content').val().replace(/^\s+|\s+$/g, '');
      
        if(micropost_content == ''){
          show_alert("请写点什么吧！");
          return false;
        }else{
            document.getElementById("send_message").submit();
          //return true;
        }
       
     
  }
</script>
