<% if object.errors.any? %>


<div class="am-alert" data-am-alert>
  <button type="button" class="am-close">&times;</button>
  <ul>
     <% object.errors.full_messages.each do |msg| %>
            <li>
             <h6 style="color:#FF946E,font-weight:bold;"><%= msg %></h6>
            </li>
    <% end %>
  </ul>
</div>
<% end %>