<div class="am-g profile_color" onclick="goto('<%= url%>')">
      <div class="am-u-sm-10" align="left">
        <%= title %>
      </div>
      <div class="am-u-sm-2" align="right">
         <span class="am-icon-chevron-right"></span> 
      </div>
</div>