<button type="button" class="am-btn am-btn-primary am-radius am-btn-sm" onclick="goto('/to_leave_message?id=<%= user_id%>&to_reply_user_id=<%=user_id%>&reply=0')">
  <i class="am-icon-envelope"></i>&nbsp;&nbsp;
  <%= content%>
</button>