<div class="am-panel am-panel-default" style="border:0;">
  <div class="am-panel-bd" >
    <div class="am-g">
      <div class="am-u-sm-12 am-u-lg-12" align="center">
        <br>
        童趣 · 童乐
        
      </div>
      
    </div> 
    <br>
    <div class="am-g">
      <div class="am-u-sm-12 am-u-lg-12">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
        am-avg-md-3 am-avg-lg-3 am-gallery-overlay" data-am-gallery="{ pureview: false }" >
            <li>
              <div class="am-gallery-item" onclick="goto('http://m.dianping.com/tuan/taiyuan/list/53_0_10_0')">
                    <img src="http://i1.dpfile.com/cms/20150331/654749071250.jpg" />
                      <h3 class="am-gallery-title">亲子郊游</h3>
                  
              </div>
            </li>
             <li>
              <div class="am-gallery-item" onclick="goto('http://m.dianping.com/tuan/taiyuan/list/55_0_10_0')">
                    <img src="http://i1.dpfile.com/cms/20150331/655744540000.jpg" />
                      <h3 class="am-gallery-title">亲子农家乐</h3>
                  
              </div>
            </li>
             <li>
              <div class="am-gallery-item" onclick="goto('http://m.dianping.com/shoplist/35/c/193')">
                    <img src="http://threejed.b0.upaiyun.com/business/qinzisheying.jpg" />
                      <h3 class="am-gallery-title">亲子摄影</h3>
                  
              </div>
            </li>
             <li>
              <div class="am-gallery-item" onclick="goto('http://m.dianping.com/tuan/taiyuan/list/52_0_10_0')">
                    <img src="http://i1.dpfile.com/cms/20150331/655415790000.jpg" />
                      <h3 class="am-gallery-title">主题乐园</h3>
                  
              </div>
            </li>
            <li>
              <div class="am-gallery-item" onclick="goto('http://m.dianping.com/tuan/taiyuan/list/46_0_10_0')">
                    <img src="http://i1.dpfile.com/cms/20150331/656176415000.jpg" />
                      <h3 class="am-gallery-title">儿童演出</h3>
                  
              </div>
            </li>
            <li>
              <div class="am-gallery-item" onclick="goto('http://m.lanlanlife.com/h5/topic/list')">
                    <img src="http://threejed.b0.upaiyun.com/business/shineiyouleyuan.jpg" />
                      <h3 class="am-gallery-title">儿童购物</h3>
                  
              </div>
            </li>
        </ul>
      </div>
    </div>
    
    <div class="am-g">
      <div class="am-u-sm-12 am-u-lg-12" align="center">
        <br>
        艺术 · 语言
        
      </div>
      
    </div> 
    <br>
    <div class="am-g">
      <div class="am-u-sm-12 am-u-lg-12">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-3
        am-avg-md-3 am-avg-lg-3 am-gallery-overlay" data-am-gallery="{ pureview: false }" >
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/wudaopeixun/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/wudao.jpg" />
                      <h3 class="am-gallery-title">舞蹈</h3>
                  
              </div>
            </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/yueqipeixun/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/yueqi.jpg" />
                      <h3 class="am-gallery-title">乐器</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/meishupeixun/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/meishu.jpg" />
                      <h3 class="am-gallery-title">美术</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/yinyuepeixun/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/shengyue.jpg" />
                      <h3 class="am-gallery-title">声乐</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/shufapeixun/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/shufa.jpg" />
                      <h3 class="am-gallery-title">书法</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/motepeixun/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/xingti.jpg" />
                      <h3 class="am-gallery-title">形体</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/liyi/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/liyi.jpg" />
                      <h3 class="am-gallery-title">礼仪</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/sheyingpx/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/sheying.jpg" />
                      <h3 class="am-gallery-title">摄影</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/guoxue/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/guoxue.jpg" />
                      <h3 class="am-gallery-title">国学</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/qitacaiyi/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/chayi.jpg" />
                      <h3 class="am-gallery-title">茶艺</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/biaoyanpeixun/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/biaoyan.jpg" />
                      <h3 class="am-gallery-title">表演</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/djpeixun/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/dj.jpg" />
                      <h3 class="am-gallery-title">DJ</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/moshu/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/moshu.jpg" />
                      <h3 class="am-gallery-title">魔术</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/yikao/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/yikao.jpg" />
                      <h3 class="am-gallery-title">艺考</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/waiyu/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/yuyan.jpg" />
                      <h3 class="am-gallery-title">外语培训</h3>
                  
              </div>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="am-g">
      <div class="am-u-sm-12 am-u-lg-12" align="center">
        <br>
        体育 · 技艺 
        
      </div>
      
    </div> 
    <br>
    <div class="am-g">
      <div class="am-u-sm-12 am-u-lg-12">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
        am-avg-md-3 am-avg-lg-3 am-gallery-overlay" data-am-gallery="{ pureview: false }" >
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/qiuleipeixun/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/qiulei.jpg" />
                      <h3 class="am-gallery-title">球类</h3>
                  
              </div>
            </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/qilei/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/qilei.jpg" />
                      <h3 class="am-gallery-title">棋类</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/yujiapeixun/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/yujia.jpg" />
                      <h3 class="am-gallery-title">瑜伽</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/wushupeixun/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/wushu.jpg" />
                      <h3 class="am-gallery-title">武术</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/taiquandao/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/taiquandao.jpg" />
                      <h3 class="am-gallery-title">跆拳道</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/youyongpx/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/youyong.jpg" />
                      <h3 class="am-gallery-title">游泳</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/lunhuapx/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/lunhua.jpg" />
                      <h3 class="am-gallery-title">轮滑</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/tiyu/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/panyan.jpg" />
                      <h3 class="am-gallery-title">其他</h3>
                  
              </div>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="am-g">
      <div class="am-u-sm-12 am-u-lg-12" align="center">
        <br>
        教育 · 培训
        
      </div>
      
    </div> 
    <br>
    <div class="am-g">
      <div class="am-u-sm-12 am-u-lg-12">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
        am-avg-md-2 am-avg-lg-2 am-gallery-overlay" data-am-gallery="{ pureview: false }" >
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/jiajiao/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/jigou.jpg" />
                      <h3 class="am-gallery-title">家教机构</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.58.com/ty/jiajiaogeren/?-15=20&_wv=5')">
                    <img src="http://threejed.b0.upaiyun.com/business/geren.jpg" />
                      <h3 class="am-gallery-title">家教个人</h3>
                  
              </div>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="am-g">
      <div class="am-u-sm-12 am-u-lg-12" align="center">
        <br>
        医疗 · 健康 
        
      </div>
      
    </div> 
    <br>
    <div class="am-g">
      <div class="am-u-sm-12 am-u-lg-12">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
        am-avg-md-2 am-avg-lg-2 am-gallery-overlay" data-am-gallery="{ pureview: false }" >
          <li>
              <div class="am-gallery-item" onclick="goto('http://m.dianping.com/shoplist/35/d/1/c/181/s/s_-1')">
                    <img src="http://threejed.b0.upaiyun.com/business/yiyuan.jpg" />
                      <h3 class="am-gallery-title">附近医院</h3>
                  
              </div>
          </li>
          <li>
              <div class="am-gallery-item" onclick="goto('http://3g.xywy.com')">
                    <img src="http://threejed.b0.upaiyun.com/business/xunyiwenyao.jpg" />
                      <h3 class="am-gallery-title">寻医问药</h3>
                  
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>