<%# cache @microposts do%>

<%= stylesheet_link_tag "http://cdn.bootcss.com/animate.css/3.4.0/animate.min.css"%>
<style>
  .applyd{
    color:#DD514C;
  }
</style>
<% @activity_applies.each do |apply|  %>
    <% applyd_user = User.find(apply.apply_user_id)%>
    <% cache applyd_user do%>
<div class="am-panel-bd" >
  
   <!-- 用户信息展示 -->
      <div class="am-g">
        <%= render :partial => "users/user_profile_display", :locals => { :user => applyd_user,:time => apply.created_at } %>
      </div>
     
    </div>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
    <% end%>
<% end%>

<%#end%>
<!-- 分页 -->


<%= render :partial => "shared/pagination",
:locals => { :total_page => @total_page,
             :page_num => @page_num,
             :pre_url => "/show_activity_applies?post_id=#{@activity.id}",
             :tips => '还没有人报名，赶紧去报名吧！' } %>