

<footer class="footer">
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
      id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4">
          <li >
            <a href="/playmates" class="">
                  <span class="am-icon-users"></span>
                <span class="am-navbar-label">玩伴</span>
            </a>
          </li>
          <!-- 
          <li data-am-navbar-share>
            <a href="/activities" class="">
                  <span class="am-icon-th-list"></span>
                <span class="am-navbar-label">活动</span>
            </a>
          </li>
          -->
          <li >
            <a href="/activities" class="">
                  <span class="am-icon-th-list"></span>
                <span class="am-navbar-label">活动</span>
            </a>
          </li>
          <!--
           <li >
            <a href="###" class="">
                  <span class="am-icon-th-large"></span>
                <span class="am-navbar-label">发布</span>
            </a>
          </li>
          -->
          <li >
            <a href="#" class="" data-am-modal="{target: '#my-actions'}">
                  <span class="am-icon-th-large"></span>
                <span class="am-navbar-label" >发布</span>
            </a>
          </li>
          <li >
            <a href="/topics" class="">
                  <span class="am-icon-skyatlas"></span>
                <span class="am-navbar-label">社区</span>
            </a>
          </li>
          <li >
            <a href="#" class="">
                  <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的</span>
            </a>
          </li>
          
      </ul>
  </div>

</footer>



