<footer id="footer" class="comm-footer">
		<ul>
			<li>
				<a href="/index.php/home/qa/index.html" class="h5_font">常见问题</a>
			</li>
			<li> 
				<a href="/index.php/home/about/index/page/about_qa.html" class="h5_font">安全保障</a>
			</li>
			<li>
				<a href="/index.php/home/qa/qafankui" class="h5_font">意见反馈</a>
			</li>
			<li class="last">
				<a href="/index.php/home/about/index.html" class="h5_font">关于我们</a>
			</li>
		</ul>
		<p class="tac mb20">
			<a href="javascript:showtel();" class="h5_font"><i class="icn_calltel"></i><span>致电客服（周一至周五9:00-20:00）</a>
		</p>
	</footer>