<!--
  <header data-am-widget="header"
          class="am-header am-header-default am-header-fixed">
      <div class="am-header-left am-header-nav">
          <a href="#left-link" class="">
              <span class="am-header-nav-title">
                首页
              </span>

                <i class="am-header-icon am-icon-home"></i>
          </a>
      </div>

      <h3 class="am-header-title" >
          童伴 <font size="1.5rem">帮孩子找玩伴</font>
      </h3>

      <div class="am-header-right am-header-nav">
          <a href="#right-link" class="">
              <span class="am-header-nav-title">
                菜单
              </span>

                <i class="am-header-icon am-icon-bars"></i>
          </a>
      </div>
  </header>
 -->

  <header class="am-topbar am-topbar-fixed-top">
    
  <div class="am-container" >
    

    <h1 class="am-topbar-brand">
    <% if (request.url != (request.protocol + request.host_with_port + "/") && request.url != (request.protocol + request.host_with_port + "/playmates") )%>
    <i class="am-header-icon am-icon-chevron-left am-icon-sm" style="color:#F3936A" onclick="goback()"></i>
    &nbsp;&nbsp;&nbsp;
    <%end %>
    
     <%=image_tag "http://threejed.b0.upaiyun.com/logo.jpg",:height => '45px',:width => '45px' %> 
     <a href="/" style="text-align:center">
       &nbsp;&nbsp;&nbsp;童伴 <font size="1.5rem">帮孩子找伴</font></a>
    </h1>

   
  </div>
  

</header>

<script>
  function goback(){
		history.go(-1);
	 // location.reload()
	}
</script>